<style>
.upload-image-container {
  height: 200px;
}
.upload-image-container img {
  max-height: 200px;
  display: block;
}

.upload-image-container .file-item {
  display: block;
}

</style>
<h1>伺服器中的圖片</h1>
<div class="row">
<% @upload_files.each do |upload_file| %>
  <div class="span3">
    <p>
      <a href="<%= upload_file[:path] %>" class="file-item">
        <img src="<%= upload_file[:path] %>" alt="">
      </a>
    </p>
    <p>
      <%= link_to '刪除', upload_file, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
</div>

<div class="row">
<%= link_to 'New', new_upload_file_path, class: "btn span6 offset3" %>
</div>






<script>
$(document).ready(function(){
  var funcNum = <%= params[:CKEditorFuncNum] %>;
  $("a.file-item").click(function(){
    var fileUrl = $(this).attr("href");
    window.opener.CKEDITOR.tools.callFunction(funcNum,fileUrl);
    window.close();
    return false;
  });
});
</script>
