<%= form_for @ad do |f| %>
<% if @ad.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>
  <ul>
    <% @ad.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>

  <%= f.label :content, '連結文字' %>
  <%= f.text_area :content %>
  
  <%= f.label :content, '上傳圖片' %>
  <%= f.file_field :image, :accept => '*.jpg,*.gif,*.png' %>
  <span class="help-block">如上傳圖片，上方連結文字則不需輸入，會使用此圖片作為顯示</span>
  
  <%= f.label :weight, '權重' %>
  <%= f.number_field :weight %>

  <%= f.label :link, '連結' %>
  <%= f.text_field :link %>

  <%= f.label :location, '位置' %>
  <%= f.select :location, {'上1' => 'top_l', '上2' => 'top_r',  '左方' => 'left', '右方' => 'right', '註冊頁' => 'signup', '登入頁' => 'signin'} %>
  <span class="help-block">上方：兩個廣告，234 x 60。左右：120 x 600</span>

</fieldset>

<div class="form-actions">
  <button type="submit" class="btn btn-small btn-primary">
    <i class="icon-ok"></i> 儲存
  </button>
  <%= link_to ads_path, :title => '返回', :class => 'btn' do %>
  <i class="icon-arrow-left"></i> 返回
  <% end %>


</div>
<% end %>
