<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @ad.content %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ad.weight %>
</p>

<p>
  <strong>Link:</strong>
  <%= @ad.link %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @ad.counter %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ad.location %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
