
<table class="table table-striped">
  <thead>
    <tr class="sortable">
      <th class="subject" data-sorting="subject">標題</th>
      <th class="span2 sender" data-sorting="sender">寄件人</th>
      <th class="span3 created-at" data-sorting="created-at">寄送時間</th>
      <th class="span2" data-sorting="id"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.subject %></td>
        <td><%= message.sender.try(:fullname) %></td>
        <td><%= message.created_at.localtime.strftime("%Y/%m/%d %H:%m:%S") %></td>
        <td>
          <%= link_to edit_message_path(message), :title => '編輯', :class => 'btn btn-mini' do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to message_path(message), :title => '刪除', :class => 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新訊息', new_message_path, :class => 'btn btn-primary' %>

<%= paginate @messages %>