<p id="notice"><%= notice %></p>

<h1><%= @message.subject %></h1>
<%= @message.sender.fullname %>
<%= @message.content.html_safe %>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
