<h2>請確認您的信箱地址</h2>
<p>一封確認信已經寄到您的信箱中，請開啓確認信驗證您的email地址，驗證完成後，即可開始使用本站服務</p>
<p>若您於收件夾中無法找到確認信，請檢查您的垃圾郵件夾，若依然沒有收到，請使用下方表格重新送出，謝謝</p>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "重新送出確認信", :class => 'btn' %></div>
<% end %>

<%= render "devise/shared/links" %>
