<%= form_tag url_for(:controller => params[:controller], :action => 'search'), :method => :get, :class => 'form-search pull-right' do %>

  <input name="keyword" type="text" class="input-medium search-query" value="<%= params[:keyword] %>">
  <button type="submit" class="btn">Search</button>
<% end %>

<table class="table table-striped">
  <tr class="sortable">
    <th class="span2 id" data-sorting="id">UID</th>
    <th class="email" data-sorting="email">Email</th>
    <th class="span2 lastname" data-sorting="lastname">姓</th>
    <th class="span2 firstname" data-sorting="firstname">名</th>
    <th class="span2 gender" data-sorting="gender">性別</th>
    <th class="span2 dob" data-sorting="dob">出生年</th>
    <th class="span2 dob_month" data-sorting="dob_month">出生月</th>
    <th class="span2 education" data-sorting="education">教育程度</th>
    <th class="span2 country" data-sorting="country">國籍</th>
    <th class="span3"> </th>
  </tr>
  <% @users.each do |u| %>
  <tr >
    <td><%= u.id  %></td>
    <td><%= u.email  %></td>
    <td><%= u.profile.try(:lastname)  %></td>
    <td><%= u.profile.try(:firstname)  %></td>
    <td><%= u.profile.try(:gender) == 1 ? "男性" : "女性"  %></td>
    <td><%= u.profile.try(:dob).try(:year)  %></td>
    <td><%= u.profile.try(:dob).try(:month)  %></td>
    <td><%= u.profile.try(:education)  %></td>
    <td><%= u.profile.try(:country)  %></td>
    <td>
      <!--
      <%= link_to user_path(u), :title => '檢視', :class => 'btn btn-mini' do %>
      <i class="icon-eye-open"></i>
      <% end %>
      -->
      <%= link_to edit_admin_path(u), :title => '編輯', :class => 'btn btn-mini' do %>
      <i class="icon-edit"></i> 編輯
      <% end %>
      <%= link_to admin_path(u), :title => '刪除', :class => 'btn btn-mini btn-danger', :method => 'delete', :confirm => "確定刪除管理員：#{u.email} 此動作不能復原" do %>
      <i class="icon-trash"></i> 刪除
      <% end %>      
    </td>
  </tr>
  <% end %>
</table>
<%= paginate @users %>


<%= link_to new_admin_path, :class => "btn btn-primary" do %>
  <i class="icon-plus icon-white"> </i>新增管理員
<% end %>