<table class="table">
  <tr>
    <td>會員編號</td>
    <td><%= @user.serial_id %></td>
  </tr>

  <tr>
    <td>姓名</td>
    <td><%= @user.fullname %></td>
  </tr>

  <tr>
    <td>email</td>
    <td><a href="mailto:<%= @user.email %>" > <%= @user.email %></td></a>
  </tr>

  <tr>
    <td>性別</td>
    <td><%= @user.profile.gender == 1 ? '男性' : '女性' %></td>
  </tr>

  <tr>
    <td>生日</td>
    <td><%= @user.profile.dob %></td>
  </tr>

  <tr>
    <td>教育程度</td>
    <td><%= @user.profile.education %></td>
  </tr>

  <tr>
    <td>國籍</td>
    <td><%= @user.profile.country %></td>
  </tr>

  <tr>
    <td>戶籍地城市</td>
    <td><%= @user.profile.register_address %></td>
  </tr>

  <tr>
    <td>居住地城市</td>
    <td><%= @user.profile.address %></td>
  </tr>

  <tr>
    <td>聯絡電話</td>
    <td><%= @user.profile.phone %></td>
  </tr>


 <tr>
    <td>行動電話</td>
    <td><%= @user.profile.cellphone %></td>
  </tr>

</table>

<%= link_to "返回",:back %>