<table class="table table-striped">
  <thead>
    <tr>
      <th>內容(HTML)</th>
      <th class="span1">權重</th>
      <th class="span3">連結到</th>
      <th class="span2">點擊計數</th>
      <th class="span1">位置</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.content %></td>
        <td><%= ad.weight %></td>
        <td><%= ad.link %></td>
        <td><%= ad.counter.to_i %></td>
        <td><%= ad.location_text %></td>
        <td>
          <%= link_to edit_ad_path(ad), :title => '編輯', :class => 'btn btn-mini' do %>
        <i class="icon-edit"></i> 編輯
        <% end %>
        <%= link_to ads_path, method: :delete, :title => '刪除', :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } do %>
        <i class="icon-trash"></i> 刪除
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to new_ad_path(), :title => '新增', :class => 'btn btn-primary' do %>
<i class="icon-plus"></i> 新增
<% end %>



