<%= form_for @news do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= label :title, '標題' %>
    <%= f.text_field :title %>
    <%= label :content, '內文' %>
    <%= f.text_area :content, :class => 'ckeditor' %>

    <%= label :publish_at, '發布於' %>
    <%= f.date_field :publish_at %>


    <%= label :close_at, '有效至' %>
    <%= f.date_field :close_at %>

  </fieldset>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary', :data => { :method => "put", :disable_with => "Saving..." } %>
  </div>
<% end %>
