<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>
<script>
$(document).ready(function(){
  $(".ckeditor").ckeditor();
});
</script>
<%= form_for @page do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= label :title, '標題' %>
    <%= f.text_field :title %>
    <%= label :key, '網址' %>
    <%= f.text_field :key %>
    <%= label :body, '內文' %>
    <%= f.text_area :body, :class => 'ckeditor' %>
  </fieldset>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary', :data => { :method => "put", :disable_with => "Saving..." } %>
  </div>
<% end %>
