

<table class="table table-striped">
  <tr class="sortable">
    <th class="span2 id" data-sorting="id">UID</th>
    <th class="span2 serial" data-sorting="serial">帳戶號碼</th>
    <th class="email" data-sorting="email">Email</th>
    <th class="span2 lastname" data-sorting="lastname">姓</th>
    <th class="span2 firstname" data-sorting="firstname">名</th>
    <th class=""> </th>
  </tr>
  <% @users.each do |u| %>
  <tr class="<%= u.activated ? 'activated' : 'disabled' %>" >
    <td><%= u.id  %></td>
    <td><%= u.serial_id  %></td>
    <td><%= u.email  %></td>
    <td><%= u.profile.lastname  %></td>
    <td><%= u.profile.firstname  %></td>
    <td>
      
      <%= link_to set_start_day_path(u), :class => 'btn btn-mini' do %>
      <i class="icon-edit"></i> 選開課日
      <% end %>
    </td>
  </tr>
  <% end %>

</table>

<%= paginate @users %>