<ul class="breadcrumb">
  <li class="active"><%= link_to "選開課日", set_start_day_path %></a>
    
  </li> 
  
</ul>

<%= form_tag set_start_day_path, :method => :get, :id => "filter-form", :class => "form-inline" do %>
  <%= label_tag "search[name]", "姓名" %>
  <%= text_field_tag "search[name]", @search[:name] %>
  <%= label_tag "search[serial_id]", "會員編號" %>
  <%= text_field_tag "search[serial_id]", @search[:serial_id] %>
  <%= label_tag "search[date_start]", "開始日期" %>
  <%= date_field_tag "search[date_start]", @search[:date_start] %>
  <%= label_tag "search[date_end]", "結束日期" %>
  <%= date_field_tag "search[date_end]", @search[:date_end] %>
  <%= label_tag "search[no_date]", :class => "checkbox" do %>
    <%= check_box_tag "search[no_date]", 1, @search[:no_date] %> 無日期
  <% end %>
  <%= submit_tag("搜尋", :class => "btn") %>
<% end %>

<script>
$(document).ready(function(){
$("#filter-form select").change(function(){
  $("#filter-form").submit();
});

});
</script>


<% if @studies.length == 0 %>
<div class="alert"> 沒有資料 </div>  
<% else %>

<table class="table table-strip">
  <tr class="sortable">   
    <th class="span2 order-number" data-sorting="order-number" >購物單編號</th>
    <th class="span2 id" data-sorting="id" >會員編號</th>
    <th class="span2 fullname" data-sorting="fullname" >姓名</th>
    <th class="span2 category" data-sorting="category">課程分類</th>
    <th class="span2 title" data-sorting="title">課程名稱</th>
    <th class="span2 unit" data-sorting="unit">單元數</th>
    <th class="span3 starts-at" data-sorting="starts-at">開始上課日期</th>
    <th class="span3 ends-at" data-sorting="ends-at">結束上課日期</th>
    <th class="span2"></th>
  </tr>

  <% @studies.each do |study| %>
  <tr>
    <td><%= study.user_order.try(:order_number) %></td>
    <td><%= study.user.serial_id %></td>
    <td><%= study.user.fullname %></td>
    <td><%= study.course.title %></td>
    <td><%= study.course.category.title %></td>
    <td><%= study.course.unit %></td>
    <td>
      <input class="start-day" data-duration-days="<%= study.course.duration_days %>" data-id="<%= study.id %>" id="study_<%= study.id %>_starts_at" min="<%= Date.today %>" name="study[<%= study.id %>][starts_at]" type="date" value="<%= study.starts_at %>" />
    <td>
      <input class="end-day" id="study_<%= study.id %>_ends_at" name="study[<%= study.id %>][ends_at]" readonly="readonly" type="date" value="<%= study.ends_at %>" />
    </td>
    <td>
      <a data-id="<%= study.id %>" id="study_<%= study.id %>_submit" class="btn btn-primary save" disabled >儲存</a>
      <br>
      <%= link_to "刪除", study_path(study), :method => "delete", :confirm => "確定要刪除嗎？此動作不可還原", :class => "danger" %>
    </td>
    
  </tr>
  <% end %>
  <% end %>
</table>
<%= paginate @studies %>

<script type="text/javascript">
var update_start_day_path = "<%= update_start_day_path %>";
$(document).ready(function(){
  $("input.start-day").change(function(ev){
    id = $(this).data('id');
    day = $(this).val();
    setStartDay(day, id, false);
  });

  $("a.save").click(function(ev){
    id = $(this).data('id');
    day = $("input#study_" + id + "_starts_at").val();
    setStartDay(day, id, true);
  });

  function setStartDay(day, id, save) {
    if (typeof save == undefined) {
      save = false
    } 
    
    $.ajax({
      url: update_start_day_path + '/' + id,
      method: 'patch',
      dataType: 'json',
      data: {starts_at: day, save: save},
      success: function(res){
        $('#study_' + id + '_ends_at').val(res.ends_at);
        if(!save) {
          $('#study_' + id + '_submit').removeAttr('disabled');
        } else {
          $('#study_' + id + '_submit').attr('disabled', true);
        }
      }
    });
  }
});
</script>

