<style>
  .hidden {display: none !important;}
  .mover {cursor: move;}
  textarea {width: 98%; height: 200px;}
</style>


<% if @course.errors.any? %>
<ul class="alert alert-error">
  <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for(@course) do |f| %>
<legend><%= @course.title %></legend>
<fieldset>
  <%= f.label :title, '課程名稱' %>
  <%= f.text_field :title %>
  <!--
  <%= f.label :serial, '編號' %>
  <%= f.text_field :serial %>
  -->

  <%= f.label :category, '課程分類' %>
  <%= f.select :category_id, Category.all.collect {|p| [ p.title, p.id ] }, :prompt => '- 新增 -' %>

  <%= text_field :category, :title, :placeholder => '- 新增 -', :class => 'hidden' %>

  <%= f.label :unit, '單元' %>
  <%= f.text_field :unit %>

  <%= f.label :price, '售價' %>
  <%= f.number_field :price %>

  <%= f.label :duration_days, '課程天數' %>
  <%= f.number_field :duration_days %>

  <%= f.label :start_at, '開始於' %>
  <%= f.date_field :start_at %>

  <%= f.label :end_at, '結束於' %>
  <%= f.date_field :end_at %>

  <%= f.label :due_at, '報名截止' %>
  <%= f.date_field :due_at %>
    
  <%= f.label :briefing, '簡介' %>
  <%= f.text_area :briefing, :height => 400, :width => '100%' %>

  <%= f.label :description, '介紹文' %>
  <%= f.text_area :description, :class => 'ckeditor' %>
  <hr>
  <% if params[:action] == 'new' %>
    <%= f.label :course_items_file, '課程內容 XLSX 檔案' %>
    <%= f.file_field :course_items_file, :class =>'file', :accept => '.xlsx', :data => {:type => 'file'} %>
    
    <%= f.label :course_items_audio_zip_file, '課程音訊 zip 檔案' %>
    <%= f.file_field :course_items_audio_zip_file, :class =>'file', :accept => '.zip', :data => {:type => 'file'} %>

  <% else %>

    <label>課程內容</label>
    
    <table class="table table-striped" id="course-items">
      <tr>
        <th class="span1"></th>
        <th class="span5">題目</th>
        <th class="span5">答案</th>
        <th class="">檔案</th>
        <th class="span1">日數</th>
      </tr>
      <tbody>
      
      <% @course.course_items.each do |ci| %>
      <tr>
        <td class="mover">=</td>
        <td><span><%= ci.question %></span></td>
        <td><span><%= ci.answer %></span></td>
        <td><span><%= ci.filename %></span></td>
        <td><span><%= ci.day %></span></td>
      </tr>
      <% end %>
      
      
      </tbody>
    </table>

  <% end %>
  


</fieldset>

  <div class="form-actions">
    <%= link_to courses_path, :class => 'btn btn', :data => {:disable_with => "Please wait..." } do %>
    <i class="icon-arrow-left"></i> 返回至課程列表
    <% end %>

    <%= f.submit :class => 'btn btn-primary pull-right', :data => { :method => "put", :disable_with => "Saving..." } %>

  
  
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  //$('#course_category_id').change
  var c = {};
  $("#course-items tr").draggable({
    handle: "td.mover",
    helper: "clone",
    start: function(event, ui) {
      c.tr = this;
      c.helper = ui.helper;
    }
  });

  $("#course-items tr").droppable({
    drop: function(event, ui) {
      //$(this).before($(c.tr));
      //$(c.helper).remove();
    }
  });

  $('#course_category_id').change(function(e){
    if($(this).val() == '') {
      $('#category_title').removeClass('hidden');
    } else {
      $('#category_title').addClass('hidden').val('');
    }
    generateSerial
  });

  function generateSerial(category_id) {
    cid = category_id < 10 ? '0' + category_id : category_id;
    serial = ''
    return "C" + cid + serial;
  }

/*
  $(document).on('click', '#course-items td', function(){

    finishEditing($('#course-items td.editing input'));
    $(this).addClass('editing');
    $(this).find('span').hide(0);
    $(this).find('input').removeClass('hidden').focus();
  });

   $(document).on('keydown', '#course-items td input', function(e){
    if (e.keyCode == 13 || e.keyCode == 9 || e.keyCode == 27) {
      finishEditing(this);
      return false;
    }

  });

  $('body').click(function(){
    //finishEditing($('#course-items td.editing input'));
  });

  
  $('.btn-add-row').click(function(){
    $('#course-items tr:last').clone().appendTo('#course-items').removeClass('hidden');
    return false;
  });

  function finishEditing(obj) {
    value = $(obj).val();
    $(obj).addClass('hidden');
    $(obj).siblings('span').text(value).show(0);
    $(obj).parent('td.editing').removeClass('editing');
    return true;
  }
*/

  $('#course_category_id').trigger('change');

});
</script>
