<h3><%= @course.title %></h3>
<h4><%= @course.category.title %></h4>
<h4><%= @course.unit %></h4>
<h4>$ <%= @course.price %></h4>
<p >
  <%= simple_format @course.description %>
</p>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
