<ul class="nav nav-tabs nav-stacked block-1">
  
  <li class="nav-header">營運管理</li>
  <% if can? :manage, UserOrder %>
  <li class="<%= 'active' if controller.controller_name == 'orders' %>">
    <%= link_to '訂單管理', orders_path %>
  </li>
  <% end %>

  <% if can? :manage, Course %>
  <li class="<%= 'active' if controller.controller_name == 'courses' %>">
    <%= link_to '課程管理', courses_path %>
  </li>
  <li class="<%= 'active' if controller.controller_name == 'categories' %>">
    <%= link_to '課程類別管理', categories_path %>
  </li>
  <% end %>

  <% if can? :manage, Message %>
  <li class="<%= 'active' if controller.controller_name == 'news' %>">
    <%= link_to '重要訊息管理', news_index_path %>
  </li>
  <% end %>
</ul>


<ul class="nav nav-tabs nav-stacked block-2">
  <li class="nav-header">會員管理</li>
  <% if can? :manage_user, User %>
  <li class="<%= 'active' if controller.controller_name == 'users' %>">
    <%= link_to '會員管理', users_path %>
  </li>
  <% end %>
  <% if can? :manage_user, Message %>
  <li class="<%= 'active' if controller.controller_name == 'messages' %>">
    <%= link_to '會員訊息管理', messages_path %>
  </li>
  <% end %>
</ul>


<ul class="nav nav-tabs nav-stacked block-5">
  <li class="nav-header">會員學習進度</li>
  <% if can? :manage, User %>
  <li class="<%= 'active' if @nav_section == 'set_start_day' %>">
    <%= link_to '選開課日', set_start_day_path %>
  </li>
  <li class="<%= 'active' if @nav_section == 'records' %>">
    <%= link_to '學習紀錄', records_path %>
  </li>
  <li class="<%= 'active' if @nav_section == 'wrong_list' %>">
    <%= link_to '易錯排行榜', record_wrong_lists_path %>
  </li>
  <% end %>
</ul>

<ul class="nav nav-tabs nav-stacked block-3">
  <li class="nav-header">行銷管理</li>
  <% if can? :manage, Page %>
  <li class="<%= 'active' if controller.controller_name == 'home' %>">
    <%= link_to '首頁管理', mfg_path %>
  </li>
  <% end %>
  
  <% if can? :manage, Page %>
  <li class="<%= 'active' if controller.controller_name == 'pages' %>">
    <%= link_to '靜態頁面管理', pages_path %>
  </li>
  <% end %>

  <% if can? :manage, Ad %>
  <li class="<%= 'active' if controller.controller_name == 'Ads' %>">
    <%= link_to '廣告管理', ads_path %>
  </li>
  <% end %>

</ul>


<ul class="nav nav-tabs nav-stacked block-4">
  <li class="nav-header">網站管理</li>  
  <% if can? :manage, SiteConfig %>
  <li class="<%= 'active' if controller.controller_name == 'site_configs' %>">
    <%= link_to '網站參數設定', site_configs_path %>
  </li>
  <% end %>

  <% if can? :manage_admin, User, :type => 'Admin' %>
  <li class="<%= 'active' if controller.controller_name == 'admins' %>">
    <%= link_to '網站管理員管理', admins_path %>
  </li>
  <% end %>

</ul>