<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex,nofollow">
  <% unless @sorting_class.blank? %>
  <meta name="sorting" content="<%= @sorting_class %>" >
  <% end %>
  <title>Backstage | <%= @config[:title]%></title>
  
  <%= stylesheet_link_tag    "/stylesheets/bootstrap.min", :media => "all"  %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/bootstrap.min" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Backstage</a>
            <div class="btn-group pull-right">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/sign_out"><i class="icon-off"></i> 登出</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>

  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <nav>
      <%= render "/common/nav_list" %>
      </nav>
    </div>
    <div class="span10">
      <!--Body content-->
      <!-- <%= render "/common/tabs" %> -->
      <% unless notice.blank? %>
        <p class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= notice %>
        </p>
      <% end %>
      <% unless flash[:error].blank? %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>