<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>Backstage | <%= @config[:title]%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <%= stylesheet_link_tag    "/stylesheets/bootstrap.min", :media => "all"  %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/javascripts/bootstrap.min" %>
    <%= javascript_include_tag "/assets/" + params[:controller] %>
    <%= csrf_meta_tags %>
    
  </head>

  <body>

    <div class="container">
      <%= yield %>
      <!-- Example row of columns -->
      


    </div> <!-- /container -->


  </body>
</html>
